<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
  <parameter name="browser" value="chrome"></parameter>
    <classes>
      <class name="smokeSuite.AmazonE2E.TC1_LoginToAmazon"/>
      <class name="smokeSuite.AmazonE2E.TC2_LoginToAmazonAndLogout"/>
      <class name="smokeSuite.AmazonE2E.Tc3_LoginSearchingClicking1stProduct"/>
      <class name="smokeSuite.AmazonE2E.Tc4_LoginSearchingWishListAddToCart"/>
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
